<style>
    .rgb-wert #erg {
        height: 2em;
        border: 1px solid gray;
        text-align: center;
    }
</style>

<div class="rgb-wert" flex="50">
    <mein-slider label="rot"
                 wert-aenderung="$ctrl.rot = wert">
        <!--wert-aenderung="$ctrl.aendereErg(wert, $ctrl.gruen, $ctrl.blau)"-->
    </mein-slider>
    <mein-slider label="grün"
                 wert-aenderung="$ctrl.gruen = wert">
        <!--wert-aenderung="$ctrl.aendereErg($ctrl.rot, wert, $ctrl.blau)">-->
    </mein-slider>
    <mein-slider label="blau" id="blau"
                 wert-aenderung="$ctrl.blau = wert">
        <!--wert-aenderung="$ctrl.aendereErg($ctrl.rot, $ctrl.gruen, wert)">-->
    </mein-slider>

    <div id="erg" style="background-color: {{ $ctrl.hexFarbe() }}">
        {{ $ctrl.hexFarbe() }}
    </div>
</div>